<h2 class="mb-5 text-2xl">Posts</h2>

<ul class="flex flex-col gap-5">
  {% for post in site.posts %}
  <li>
    <a href="{{ post.url }}">
      <div class="post-card">
        <div class="col-span-9">
          <div class="post-card-start">
            <div class="post-card-title text-xl font-bold">
              {{ post.title }}
            </div>
            <div class="post-card-date font-light">
              {{ post.date | date: "%B %d, %Y" }}
            </div>
            <p class="post-card-desc line-clamp-3">{{ post.description }}</p>
          </div>
        </div>
        <div class="col-span-3">
          <div class="post-card-end">
            <img
              src="{{ post.imageURL | default:'/assets/img/default.svg' }}"
              alt="{{ post.imageAlt }}"
              class="post-card-img"
            />
          </div>
        </div>
      </div>
    </a>
  </li>
  {% endfor %}
</ul>
