<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>

  <body>
    <!-- Side Nav -->
    {% include side-nav.html %}

    <div class="ps-0 lg:ps-64">
      <!-- Header -->
      {% include header.html %}

      <!-- Content - Main -->
      <main>
        <div class="container px-16 py-5">
          <div class="grid grid-cols-12">
            <div class="col-span-12 md:col-span-9">{{ content }}</div>
            <div class="col-span-12 md:col-span-3"></div>
          </div>
        </div>
      </main>

      <!-- Footer -->
      {% include footer.html %}
    </div>

    <script src="/assets/js/main.js"></script>
  </body>
</html>
